@model IEnumerable<OnlineExamApp.Models.Exam>

@{
    ViewData["Title"] = "DisplayAllExams";
}

<h1>DisplayAllExams</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam_StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam_EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam_Duration)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.QuestionBankId)
            </th>*@
            <th>Action</th>
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam_StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam_EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam_Duration)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.QuestionBankId)
            </td>*@
            <td>
                
                    <a asp-controller="Enrollment" asp-action="CreateEnroll">Enroll Now</a>
            </td>

               @* <td>

                    <a asp-controller="StartTest" asp-action="GetQuestionList">Start Test</a>
                </td>*@
        </tr>
}
    </tbody>
</table>
